<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1>Forms Homework</h1>

    <br>
    <br>

    <div class="form-control">
      <label>Firstname</label>
      <input class="validation" type="text" placeholder="Name" formControlName="name">
      <div *ngIf="!form.get('name')?.valid && form.get('name')?.touched" class="validation">
        <small class="errormessage" *ngIf="form.get('name')?.errors?.required">
          Name can not be empty
        </small>
      </div>
    </div>

    <br>
    <br>

    <div class="form-control">
      <label>Lastname</label>
      <input class="validation" type="text" placeholder="Surame" formControlName="surname">
      <div *ngIf="!form.get('surname')?.valid && form.get('surname')?.touched" class="validation">
        <small class="errormessage" *ngIf="form.get('surname')?.errors?.required">
          Surname can not be empty
        </small>
      </div>
    </div>

    <br>
    <br>

    <div class="form-control">
      <label>Email</label>
      <input class="validation" type="text" placeholder="Email" formControlName="email">
      <div *ngIf="!form.get('email')?.valid && form.get('email')?.touched" class="validation">
        <small class="errormessage" *ngIf="form.get('email')?.errors?.required">
          Required email
        </small>

        <small class="errormessage" *ngIf="form.get('email')?.errors?.email || form.get('email')?.errors?.pattern">
          Email is invalid. For example : example@email.com
        </small>
      </div>
    </div>

    <br>
    <br>

    <div class="form-control">
      <label>Password</label>
      <input class="validation" type="password" placeholder="Password" formControlName="password">
      <!--#modelPassword="ngModel"   name="password"   [(ngModel)]="model.password"  -->
      <div *ngIf="!form.get('password')?.valid && form.get('password')?.touched" class="validation">
        <small class="errormessage" *ngIf="form.get('password')?.errors?.required">
          Password can not be empty
        </small>
        <small class="errormessage" *ngIf="form.get('password')?.errors?.minlength">
          The length of password must be at least {{form.get('password')?.errors?.minlength.requiredLength}} characters.
          Now it is {{form.get('password')?.errors?.minlength.actualLength}}.
        </small>
      </div>
    </div>

    <br>
    <br>

    <!--
    <div class="form-control">
      <label>Confirm Password</label>
      <input class="validation" type="password" placeholder="Confirm Password" formControlName="password_confirm">
    </div>
    <input type="password" ngValidateEqual="password" name="password_confirm" #modelConfirmPassword="ngModel"
      [(ngModel)]="model.confirmPassword" placeholder="Confirm Password">

    <div *ngIf="(modelConfirmPassword.dirty || modelConfirmPassword.touched) && modelConfirmPassword.invalid">
      <p style="color:red" *ngIf="modelConfirmPassword.hasError('notEqual') &&
    modelPassword.valid">
        Passwords Don't Match
      </p>
    </div>
  -->

    <br>
    <p>You can submit when the form is filled correctly</p>
    <br>

    <button class="btn buttondelete" type="button">Delete form</button>
    <button class="btn buttonsubmit" type="submit" [disabled]="form.invalid">Submit</button>
    <button class="btn buttonadd" type="button">Add new form</button>

  </form>
</div>